.Side-Drawer{
    height: 100%;
    background: #111;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.Side-Drawer.Open{
    transform: translateX(0);

}

.Side-Drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Side-Drawer li{
    margin: 0.5rem 0;
}

.Side-Drawer a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

@media (min-width: 769px) {
    .Side-Drawer{
        display: none;
    }
    
}
