
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #111;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 3px;
    border: 1px solid #ccc;
    text-align: left;
}

td img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}